@import "tailwindcss";

@theme {
  --font-sans: "Lato", "sans-serif";
  --font-serif: "Roboto Slab", "serif";

  --color-text: oklch(20.31% 0.024 225.86);
  --color-background: oklch(98.25% 0.011 225.98);

  --color-primary-50: oklch(96.52% 0.022 226.13);
  --color-primary-100: oklch(93.41% 0.043 224.93);
  --color-primary-200: oklch(87.05% 0.083 227.19);
  --color-primary-300: oklch(81.51% 0.118 228.87);
  --color-primary-400: oklch(76.73% 0.144 232.27);
  --color-primary-500: oklch(72.54% 0.162 238.33);
  --color-primary-600: oklch(61.65% 0.136 237.49);
  --color-primary-700: oklch(50% 0.109 236.9);
  --color-primary-800: oklch(37.62% 0.081 235.79);
  --color-primary-900: oklch(24.4% 0.049 230.58);
  --color-primary-950: oklch(16.97% 0.032 225.89);

  --color-secondary-50: oklch(96.45% 0.011 225.98);
  --color-secondary-100: oklch(92.88% 0.021 223.01);
  --color-secondary-200: oklch(85.8% 0.043 225.02);
  --color-secondary-300: oklch(78.67% 0.065 224.74);
  --color-secondary-400: oklch(71.73% 0.084 225.71);
  --color-secondary-500: oklch(65% 0.101 227.6);
  --color-secondary-600: oklch(55.3% 0.084 227.56);
  --color-secondary-700: oklch(45.15% 0.068 227.51);
  --color-secondary-800: oklch(34.4% 0.049 227.46);
  --color-secondary-900: oklch(22.73% 0.027 225.33);
  --color-secondary-950: oklch(16.44% 0.017 217.81);

  --color-accent-50: oklch(97.38% 0.019 125.81);
  --color-accent-100: oklch(94.98% 0.041 126.92);
  --color-accent-200: oklch(90.05% 0.081 127.58);
  --color-accent-300: oklch(85.04% 0.118 128.3);
  --color-accent-400: oklch(80.39% 0.154 129.37);
  --color-accent-500: oklch(75.93% 0.182 130.84);
  --color-accent-600: oklch(64.37% 0.153 130.7);
  --color-accent-700: oklch(52.26% 0.121 130.5);
  --color-accent-800: oklch(39.67% 0.089 130.33);
  --color-accent-900: oklch(25.68% 0.052 129.63);
  --color-accent-950: oklch(17.92% 0.03 129.94);
}
