<nav
  class="sticky top-0 flex items-center justify-between px-20 py-7 lg:fixed lg:right-0 lg:left-0"
>
  <a href="/" class="text-2xl font-bold">popiel.dev</a>
  <ul class="flex gap-8 text-lg">
    <li><a href="#omnie">O mnie</a></li>
    <li><a href="#umiejetnosci">Umiejętności</a></li>
    <li><a href="#projekty">Projekty</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
  </ul>
</nav>
